ody {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register-container {
    max-width: 300px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="email"],
input[type="password"],
button {
    display: block;
    width: 90%;
    margin:auto;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#register-error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
.spinner {
    width: 25px;
    height: 25px;
    margin: 0 auto;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: none;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#register-error-message{
    margin:0 auto;
    text-align: center;
    height: 25px;
}
.message{
    height: 40px;
}