*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  header{
    height:35vh;
  }
  main{
    height: 50vh;
  }
  footer{
    height: 15vh;
  }
  .profile-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: max-content;

  }
  .profile-picture{
    width: 78px;
    height:78px;
  }
  footer{
    background-color: black;
    color: white;
  }
  #register,#login{
    margin: 0 2em;

  }

.auth-container {
    max-width: 300px;
    min-width:max-content;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-container{
    display: none;
    
}

.input-box{
    display: block;
    height: 2rem;
    width: 60%;
    margin:auto;
    font-size: 16px;
    margin: 3px auto;
}
.name-change{
    display: none;
}
.password-change{
    display: none;
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.auth-error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
.spinner {
    width: 25px;
    height: 25px;
    margin: 0 auto;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: none;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.auth-error-message{
    margin:0 auto;
    text-align: center;
    height: 25px;
}
.message{
    height: 40px;
}
