
.chat-interface{
    display: inline-block;
    width:minmax(100px,25%);
}
.chat-interface .chat-ops{
    height: fit-content;

}
.chat-interface .messages{
    border: 2px solid palevioletred;
    height: 100%;
    overflow: scroll;
}
.chat-interface .messages .my-message{
    display: block;
}
.output{
    flex-grow: 1;
}
.output .output-ops{
    height: fit-content;
}
#output-frame{
    resize: both;
}