:root {
  --file-name-height: 1.8rem;
  --font-size-code: 20px;
  --line-height-code: 23px;
  --font-heading-size: 1.5rem;
  --font-text-size: 1rem;
  --font-small-size: 0.7rem;
  --bg-color: #ffffff;
  --text-color-primary: #333333;
  --text-color-secondary: #6a6a6a;
  --window-color: #555;
  --window-text-primary: #333333;
  --window-text-secondary: #6a6a6a;
  --button-bg: #007acc;
  --button-text: #ffffff;
}
* {
  margin: 0;
  padding: 0;
}
body {
  padding: 3px;
  color: var(--text-color-primary);
  background-color: var(--bg-color);
  transition: background-color 0.3s, color 0.3s;
}
body.dark-theme{
  --bg-color: #1e1e1e;
  --text-color-primary: #d4d4d4;
  --text-color-secondary: #9a9a9a;
  --window-color: #555;
  --window-text-primary: #d4d4d4;
  --window-text-secondary: #9a9a9a;
  --button-bg: #007acc;
  --button-text: #d4d4d4;
}
body.dark-theme .icons {
  filter: invert(100%);
}


header {
  height: 5vh;
  border-bottom: 2px var(--text-color-primary) solid;
}
header .menu-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

main {
  height: 90vh;
}
main .file-action {
  height: 10%;
  display: flex;
  align-items:center;

}
main .file-action .manager-ops {
  width: 12rem;
}
main .file-action .file-ops {
  flex-grow: 1;
  display: flex;
  align-items: center;
}


main .middle-section {
  height: 60%;
  display: flex;
}
main .middle-section .manager {
  border: 2px solid var(--text-color-primary);
  display: flex;
  width: 12rem;
  height: 100%;
  flex-direction: column;
}
main .middle-section .line-numbers {
  width: fit-content;
  height: 100%;
  overflow-y: scroll;
  border-right: 1px solid #ccc;
  padding-left: 8px;
  padding-right: 8px;
}

main .middle-section .code-input {
  flex-grow: 1;
  height: 100%;
  resize: none;
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  border: 2px solid var(--text-color-primary);
  outline: none;
  font-family: inherit;
  font-size: inherit;
  overflow-y: scroll;
  line-height: inherit;
}


main .bottom-window {
  height: 22%;
  display: block;
}

main .bottom-window .bottom-window-ops{
  height: 2rem;
  display:flex;
}
main .bottom-window .bottom-window-content{
  display: flex;
  resize: both;
}
