@media (min-width: 700px) {
  header .menu-list {
    justify-content: flex-start;
  }
  .menu-list .top-menu-item {
    margin: 0 12px;
  }
}

.file-menu {
  display: none;
  background-color: tomato;
  padding: 5px;
  position: absolute;
}
.file-menu .file-menu-item {
  display: block;
  background-color: tomato;
  width: 100%;
  border: none;
  text-align: start;
}
.file-more-options {
  display: none;
  background-color: tomato;
  padding: 5px;
  position: absolute;
  z-index: 1;
}
.file-more-options .file-more-item {
  /* display: block; */
  background-color: tomato;
  width: 100%;
  border: none;
  text-align: start;
}
.icons {
  width: 22px;
  height: 22px;
  margin: auto 0;
}
.icons:hover {
  background-color: rgb(110, 161, 206);
}
.icon-selcted {
  background-color: blue;
}
